#project-readiness-elements{
    padding-bottom: 20px;
    padding-top: 0px;
}
#yoe-form{
    padding-bottom: 10px;
    padding-top: 0px;
}
#transit-only{
    padding-bottom: 20px;
    padding-top: 0px;
}
#project-phases{
    padding-bottom: 10px;
    padding-top: 0px;
    
}

